name: My First Work Flow
on:
  push:
    branches: 
      - main
  workflow_dispatch:
jobs:
  first_job:
    name: My First Job
    runs-on: ubuntu-latest
    steps:
      - name: Greet the user
        run: echo "Hello world from ${{vars.WHO_TO_GREET}} from ${{github.actor}}."  
             echo "My Secret is ${{secrets.MY_SECRET}}."
      - name: Checkout
        uses: actions/checkout@v4.2.1
      - run: tree
  Test:
    runs-on: ubuntu-latest
    environment: Test
    needs: first_job
    steps:
      - run: echo "Hello ${{ vars.WHO_TO_GREET }} from ${{ github.actor }}."
          sec=$(echo ${{ secrets.MY_SECRET }} | sed 's/./& /g')
          echo "My secret is '$sec'."
  Load-Test:
    runs-on: ubuntu-latest
    environment: Load-Test
    needs: first_job
    steps:
      - run: echo "Hello ${{ vars.WHO_TO_GREET }} from ${{ github.actor }}."
          sec=$(echo ${{ secrets.MY_SECRET }} | sed 's/./& /g')
          echo "My secret is '$sec'."
  Production:
    runs-on: ubuntu-latest
    environment:
      name: Production
      url: https://writeabout.net
    needs: [Test, Load-Test]
    steps:
      - run: echo "Hello ${{ vars.WHO_TO_GREET }} from ${{ github.actor }}."
          sec=$(echo ${{ secrets.MY_SECRET }} | sed 's/./& /g')
          echo "My secret is '$sec'."

